- unless current_user == @question.user
  - if @favorite
    %p= link_to "Unfavorite", question_favorite_path(@favorite.question, @favorite), method: :delete, class: "btn btn-danger"
  - else
    %p= link_to "Favorite", question_favorites_path(@question), method: :post, class: "btn btn-danger"

  - if @question.favorited_users.present?
    Favorited by:
    = @question.favorited_users.map(&:full_name).join(", ")
  - if @vote.persisted?  && @vote.is_up?
    = button_to "Un-vote", [@question, @vote], method: :delete, class: "btn btn-default"
  - else
    = form_for [@question, @vote] do |f|
      = f.hidden_field :is_up, value: true
      = f.submit "Vote Up", class: "btn btn-default"
